export(parse_motif_text)
export(parse_motif_file)
export(mymotif_records)
export(translate_dna_sequence)
export(calculate_codon_bias)
export(codon_bias_from_fasta)
export(reverse_complement)
export(find_motifs)
export(find_motifs_in_fasta)
export(run_sytogen_pipeline)
export(run_sytogen)
export(sytogen_runner)
